<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="org.eclipse.ease.lang.symja.sym"
            name="org.eclipse.ease.lang.symja.sym"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="sym">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.ease.lang.symja.sym"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension> 
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.ease.lang.symja.SymPresentationReconciler"
            contentType="org.eclipse.ease.lang.symja.sym">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="org.eclipse.ease.lang.symja.SymHoverProvider"
            contentType="org.eclipse.ease.lang.symja.sym">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.ease.lang.symja.SymContentAssistProcessor"
            contentType="org.eclipse.ease.lang.symja.sym">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="org.eclipse.ease.lang.symja.SymAutoEditStrategy"
            contentType="org.eclipse.ease.lang.symja.sym">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="org.eclipse.ease.lang.symja.SymReconciler"
            contentType="org.eclipse.ease.lang.symja.sym">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.ease.lang.symja.ValidatorDocumentSetupParticipant"
            contentTypeId="org.eclipse.ease.lang.symja.sym"
            extensions="sym">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ease.language">
      <engine
            class="org.eclipse.ease.lang.symja.SymjaEngine"
            id="org.eclipse.ease.lang.symja.engine"
            name="Symja"
            priority="10">
      </engine>
   </extension>

</plugin>
