<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
    <extension-point id="fileFormatSupport" name="File format support" schema="schema/fileFormatSupport.exsd"/>
   
   	<extension point="org.matheclipse.ease.lang.symja.fileFormatSupport">
		<fileFormatSupport
			fileFormats="csv"
			supportClass="org.matheclipse.ease.lang.symja.tablesaw.io.csv.CsvFileFormatSupport"
		/>
	</extension>
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
      base-type="org.eclipse.core.runtime.text"
            id="org.matheclipse.ease.lang.symja.content-type"
            default-charset="UTF-8"
            file-extensions="sym"
            name="org.matheclipse.ease.lang.symja.sym"
            priority="low">
      </content-type>
   </extension>
 
      <extension
         point="org.eclipse.ease.scriptType">
      <scriptType
            codeFactory="org.matheclipse.ease.lang.symja.SymjaCodeFactory"
            codeParser="org.matheclipse.ease.lang.symja.SymjaCodeParser"
            defaultExtension="sym" 
            headerParser="org.matheclipse.ease.lang.symja.SymjaHeaderParser"
            name="Symja">
         <binding
               contentType="org.matheclipse.ease.lang.symja.content-type">
         </binding>
      </scriptType>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Symja Editor"
            icon="icons/obj16/java.png"
            extensions="sym"
            contributorClass="org.matheclipse.ease.lang.symja.symjaeditor.SymjaActionContributor"
            class="org.matheclipse.ease.lang.symja.symjaeditor.SymjaEditor"
            id="org.eclipse.ui.symjaeditor">
      </editor>
      
   </extension> 
      <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.matheclipse.ease.lang.symja.ValidatorDocumentSetupParticipant"
            contentTypeId="org.matheclipse.ease.lang.symja.content-type"
            extensions="sym">
      </participant> 
   </extension>  
   
   <extension
         point="org.eclipse.ease.language">
      <engine
            class="org.matheclipse.ease.lang.symja.SymjaReplScriptEngine" 
            id="org.matheclipse.ease.lang.symja.engine"
            name="Symja"
            priority="10"> 
            <binding
               scriptType="Symja">
         </binding>
      </engine> 
      <launchExtension
            class="org.eclipse.ease.modules.BootStrapper"
            engineID="org.matheclipse.ease.engine.symja">
      </launchExtension> 
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.matheclipse.ease.lang.symja.tablesaw.NatTablesawEditor"
            contributorClass="org.matheclipse.ease.lang.symja.tablesaw.TablesawEditorActionBarContributor"
            default="true"
            extensions="csv,xlsx"
            id="org.matheclipse.ease.lang.symja.tablesaw.table"
            name="Tablesaw editor"
            icon="icons/obj16/java.gif"
            >
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.matheclipse.ease.lang.symja.tablesaw.category"
            name="Symja tablesaw"
            >
      </category>

      <view
            category="org.matheclipse.ease.lang.symja.tablesaw.category"
            class="org.matheclipse.ease.lang.symja.tablesaw.views.TableProviderRegistryView"
            id="org.matheclipse.ease.lang.symja.tablesaw.views.TableProviderRegistryView"
            name="Table Registry"
            icon="icons/obj16/java.gif"
            >
      </view>
   </extension> 

   <extension
         point="org.eclipse.ui.views">
       <view
            category="org.matheclipse.ease.lang.symja.tablesaw.category"
            class="org.matheclipse.ease.lang.symja.tablesaw.NatTablesawView"
            id="org.matheclipse.ease.lang.symja.tablesaw.NatTablesawView"
            allowMultiple="true"
            name="Table"
            icon="icons/obj16/java.gif"
            >
      </view>
   </extension>
         
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.matheclipse.ease.lang.symja.tablesaw.category"
            class="org.matheclipse.ease.lang.symja.tablesaw.views.SummaryTableView"
            id="org.matheclipse.ease.lang.symja.tablesaw.SummaryTableView"
            allowMultiple="true"
            name="Summary"
            icon="icons/obj16/java.gif"
            >
      </view>
      <view
            category="org.matheclipse.ease.lang.symja.tablesaw.category"
            class="org.matheclipse.ease.lang.symja.tablesaw.views.CrossTableView"
            id="org.matheclipse.ease.lang.symja.tablesaw.CrossTableView"
            allowMultiple="true"
            name="Cross Table"
            icon="icons/obj16/java.gif"
            >
      </view>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.matheclipse.ease.lang.symja.tablesaw.category"
            class="org.matheclipse.ease.lang.symja.tablesaw.views.WebTableView"
            id="org.matheclipse.ease.lang.symja.tablesaw.views.WebTableView"
            allowMultiple="true"
            name="Web Page"
            icon="icons/obj16/java.gif"
            >
      </view>
   </extension>
   
   
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.matheclipse.ease.lang.symja.tablesaw.commands.EditDeleteCommandHandler"
             commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with variable="activeEditorId">
                <equals value="org.matheclipse.ease.lang.symja.tablesaw.table"/>
             </with>
         </activeWhen>
         <!-- <enabledWhen></enabledWhen> -->
       </handler>
        
       <handler
             class="org.matheclipse.ease.lang.symja.tablesaw.commands.EditCopyCommandHandler"
             commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with variable="activeEditorId">
                <equals value="org.matheclipse.ease.lang.symja.tablesaw.table"/>
             </with>
         </activeWhen>
       </handler>
       <handler
             class="org.matheclipse.ease.lang.symja.tablesaw.commands.EditPasteCommandHandler"
             commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with variable="activeEditorId">
                <equals value="org.matheclipse.ease.lang.symja.tablesaw.table"/>
             </with>
         </activeWhen>
       </handler>
    </extension>
    <!--
    <extension
          point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
       <hyperlinkDetector
             activate="true"
             class="org.matheclipse.ease.lang.symja.SymjaHyperlinkDetector"
             id="org.matheclipse.ease.lang.symja.hyperlinkdetector"
             name="name"
             targetId="org.eclipse.ui.DefaultTextEditor">
       </hyperlinkDetector>
    </extension>
    -->
</plugin>
