<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
      base-type="org.eclipse.core.runtime.text"
            id="org.eclipse.ease.lang.symja.content-type"
            default-charset="UTF-8"
            file-extensions="sym"
            name="org.eclipse.ease.lang.symja.sym"
            priority="low">
      </content-type>
   </extension>
 
      <extension
         point="org.eclipse.ease.scriptType">
      <scriptType
            codeFactory="org.eclipse.ease.lang.symja.SymjaCodeFactory"
            codeParser="org.eclipse.ease.lang.symja.SymjaCodeParser"
            defaultExtension="sym" 
            headerParser="org.eclipse.ease.lang.symja.SymjaHeaderParser"
            name="Symja">
         <binding
               contentType="org.eclipse.ease.lang.symja.content-type">
         </binding>
      </scriptType>
   </extension>
 
      <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Symja Editor"
            icon="icons/obj16/java.png"
            extensions="sym"
            contributorClass="org.eclipse.ease.lang.symja.symjaeditor.SymjaActionContributor"
            class="org.eclipse.ease.lang.symja.symjaeditor.SymjaEditor"
            id="org.eclipse.ui.JavaEditor">
      </editor>
   </extension> 
      <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.ease.lang.symja.ValidatorDocumentSetupParticipant"
            contentTypeId="org.eclipse.ease.lang.symja.content-type"
            extensions="sym">
      </participant> 
   </extension>  
   
   <extension
         point="org.eclipse.ease.language">
      <engine
            class="org.eclipse.ease.lang.symja.SymjaReplScriptEngine" 
            id="org.eclipse.ease.lang.symja.engine"
            name="Symja"
            priority="10"> 
            <binding
               scriptType="Symja">
         </binding>
      </engine> 
      <launchExtension
            class="org.eclipse.ease.modules.BootStrapper"
            engineID="org.eclipse.ease.engine.symja">
      </launchExtension> 
   </extension>
</plugin>
